
     <header class="container main-header">
      <div class="header">
        <nav class="site-nav">
          <a class="logo-accent link" href="../index.html"
            >SIMPLY<span class="logo-main"> CHOCOLATE</span>
          </a>
          <svg class="logo-header"
          width="21"
          height="21">
          <use href="/img/icons.svg#chocolate"></use>
        </svg>
        </nav>
          <!-- Mobile menu burger -->
          <div class="mobile-burger-menu">
          <button type="button"
          class="menu-toggle-burger js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu">
          <svg class="mobile-menu-burger"
            width="28"
            height="28">
          <use stroke="rgba(46, 47, 66, 1)" href="/img/icons.svg#burger-menu"></use>
          </svg>
        </button>
          <div class="menu-container js-menu-container" id="mobile-menu">
      <button type="button" class="menu-toggle-close js-close-menu">
        <svg class="modal-menu-close" width="13" height="13">
            <use stroke="rgba(255, 255, 255, 1)" href="/img/icons.svg#close-white"></use>
          </svg>
      </button>
      <ul class="mobile-menu">
        <li><a class="link mobile-menu-item" href="../index.html">Home</a></li>
        <li><a class="link mobile-menu-item" href="#How_its_made">How it’s made?</a></li>
        <li><a class="link mobile-menu-item" href="#Our_products">Our products</a></li>
        <li><a class="link mobile-menu-item" href="#Top_sellers">Top sellers</a></li>
        <li><a class="link mobile-menu-item" href="#Chocolate_is_loved">Chocolate is loved</a></li>
      </ul>
      <ul class="list social-media-list-mobile">
            <li class="social-media-item">
              <a class="social-media-link" href="https://www.instagram.com/accounts/login/" aria-label="Instagram"
                      href=""
                      target="_blank"
                      rel="noopener no-referrer">
                <svg class="svg-header" width="24" height="24">
                  <use href="/img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-media-item">
              <a class="social-media-link" href="https://twitter.com/" aria-label="Instagram"
                      href=""
                      target="_blank"
                      rel="noopener no-referrer">
                <svg class="svg-header" width="24" height="24">
                  <use href="/img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
      </div>
    </div>
</div>
    <!-- Desktop header -->
          <nav>
          <ul class="list header-nav">
            <li class="nav">
              <a class="nav-item link" href="../index.html">Home</a>
            </li>
            <li class="nav">
              <a class="nav-item link" href="#How_its_made">How it’s made?</a>
            </li>
            <li class="nav">
              <a class="nav-item link" href="#Our_products">Our products</a>
            </li>
             <li class="nav">
              <a class="nav-item link" href="#Top_sellers">Top sellers</a>
            </li>
            <li class="nav">
              <a class="nav-item link" href="#Chocolate_is_loved">Chocolate is loved</a>
            </li>
          </ul>
        </nav>
          <ul class="list header-social-media-list">
            <li class="header-social-media-link">
              <a href="https://www.instagram.com/accounts/login/" aria-label="Instagram"
                      href=""
                      target="_blank"
                      rel="noopener no-referrer">
                <svg class="svg-header-black" width="24" height="24">
                  <use href="/img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-media-link">
              <a href="https://twitter.com/" aria-label="Instagram"
                      href=""
                      target="_blank"
                      rel="noopener no-referrer">
                <svg class="svg-header-black" width="24" height="24">
                  <use href="/img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul> 
    </header>

