<section class="technique section" id="How_its_made">
  <div class="technique-container container">
    <h2 class="section-title technique-title">
      HOW IT’S <span class="technique-title-accent"> MADE?</span>
    </h2>
    <div class="technique-wrapper">
      <div class="technique-img-wrapper">
        <svg class="icon-play" width="44" height="44">
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/section-how-made/desktop/image_desk@1x.webp 1x,
              /img/section-how-made/desktop/image_desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/section-how-made/desktop/image_desk@1x.jpg 1x,
              /img/section-how-made/desktop/image_desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet-->
          <source
            media="(min-width: 768px)"
            srcset="
              /img/section-how-made/tablet/image_tab@1x.webp 1x,
              /img/section-how-made/tablet/image_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/section-how-made/tablet/image_tab@1x.jpg 1x,
              /img/section-how-made/tablet/image_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile-->
          <source
            media="(min-width: 375px)"
            srcset="
              /img/section-how-made/mobile/image_mob@1x.webp 1x,
              /img/section-how-made/mobile/image_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              /img/section-how-made/mobile/image_mob@1x.jpg      1x,
              /img/section-how-made/mobile/image_mob@2x.webp.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="technique-img"
            src="/img/section-how-it's-made/tablet/image_tab@1x.jpg"
            alt="cooking_chocolate"
            loading="lazy"
            width="614"
            height="400"
          />
        </picture>
      </div>
      <div class="technique-description">
        <h3 class="technique-description-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="technique-description-list">
          <li class="technique-description-item">
            <p class="technique-description-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
