<section class="technique section" id="How_its_made">
  <div class="technique-container container">
    <h2 class="section-title technique-title">
      HOW IT’S <span class="technique-title-accent"> MADE</span>?
    </h2>
    <div class="technique-wrapper">
      <div class="technique-img-wrapper">
        <svg class="icon-play" width="44" height="44">
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
        <!-- Desktop Tablet Mobile images-->
        <picture>
          <source
            class="technique-image"
            srcset="
              ../img/section-how-made/desktop/image_desk@1x.webp 1x,
              ../img/section-how-made/desktop/image_desk@2x.webp 2x,
              ..img/section-how-made/tablet/image_tab@1.webp     1x,
              ..img/section-how-made/tablet/image_tab@2.webp     2x,
              ..img/section-how-made/mobile/image_mob_1@.webp    1x,
              ..img/section-how-made/mobile/image_mob_2@.webp    2x
            "
            sizes="(min-width: 1200px) 600px, (min-width: 768px) 614px, (min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            class="technique-image"
            srcset="
              ../img/section-how-made/desktop/image_desk@1x.jpg 1x,
              ../img/section-how-made/desktop/image_desk@2x.jpg 2x,
              ../img/section-how-made/tablet/image_tab@1.jpg    1x,
              ../img/section-how-made/tablet/image_tab@2.jpg    2x,
              ..img/section-how-made/mobile/image_mob_1@.jpg    1x,
              ..img/section-how-made/mobile/image_mob_2@.jpg    2x
            "
            sizes="(min-width: 1200px) 600px, (min-width: 768px) 614px, (min-width: 375px) 335px, 100vw"
            type="image/jpg"
          />
          <img
            class="technique-image"
            src="../img/section-how-made/mobile/image_mob_1@.jpg"
            alt="Hot hocolate"
            width="335"
            height="500"
          />
        </picture>
      </div>
      <div class="technique-description">
        <h3 class="technique-description-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="technique-description-list">
          <li class="technique-description-item">
            <p class="technique-description-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="technique-description-item">
            <p class="technique-description-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
