<section class="technique section" id="How_its_made">
  <div class="technique-container container">
    <h2 class="section-title technique-title">
      HOW IT’S <span class="technique-title-accent"> MADE</span>?
    </h2>
    <div class="technique-wrapper">
      <div class="technique-img-wrapper">
        <svg class="icon-play" width="44" height="44">
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
        <img
          class="technique-img"
          srcset="
            /img/section-how-it's-made/mobile/image_335.jpg    335w,
            /img/section-how-it's-made/tablet/image_614.jpg    614w,
            /img/section-how-it's-made/desktop/image_600.jpg   600w,
            /img/section-how-it's-made/mobile/image_670.jpg    670w,
            /img/section-how-it's-made/tablet/image_1228.jpg  1228w,
            /img/section-how-it's-made/desktop/image_1200.jpg 1200w
          "
          sizes="(min-width:1200px) 600px, (min-width:768px) 614px,
        (min-width:375px) 335px, 100vw "
          src="/img/section-how-it's-made/desktop/image_614.jpg"
          alt="cooking_chocolate"
          width="614"
          height="400"
          loading="lazy"
        />
      </div>
      <div class="technique-description">
        <h3 class="technique-description-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="technique-description-list">
          <li class="technique-description-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="technique-description-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="technique-description-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="technique-description-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="technique-description-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
