<section id="Our_products" class="section">
    <div class="container-product container">
        <h2 class="product-title">OUR
            <span class="product-selection">PRODUCTS</span>
        </h2>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->

            <ul class="swiper-wrapper">
                <!-- Slides -->

                <li class="swiper-slide">
                    <div class="product-card">

                        <img srcset="/img/our-product/orange@1x.jpg 1x , /img/our-product/orange@2x.jpg 2x"
                            src="/img/our-product/orange@1x.jpg" alt="Dark chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">orange</h3>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button type="button" class="card-btn">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/applecranbrrry@1x.jpg 1x , /img/our-product/applecranbrrry@2x.jpg 2x"
                            src="/img/our-product/applecranbrrry@1x.jpg" alt="Milk chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">APPLE&amp;CRANBERRY</h3>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button type="button" class="card-btn">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/limeseasalt@1x.jpg 1x , /img/our-product/limeseasalt@2x.jpg 2x"
                            src="/img/our-product/limeseasalt@1x.jpg" alt="Dark chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">lime&amp;sea salt</h3>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button type="button" class="card-btn">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/pineapple@1x.jpg 1x , /img/our-product/pineapple@2x.jpg 2x"
                            src="/img/our-product/pineapple@1x.jpg" alt="Dark chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">pineapple</h3>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button type="button" class="card-btn">55 UAH</button>
                        </div>
                    </div>
                </li>


                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/classicmilk@1x.jpg 1x , /img/our-product/classicmilk@2x.jpg 2x"
                            src="/img/our-product/classicmilk@1x.jpg" alt="Milk chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">Classic</h3>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button type="button" class="card-btn">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/honey@1x.jpg 1x , /img/our-product/honey@2x.jpg 2x"
                            src="/img/our-product/honey@1x.jpg" alt="Milk chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">honey</h3>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button type="button" class="card-btn">50 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/roasted@1x.jpg 1x , /img/our-product/roasted@2x.jpg 2x"
                            src="/img/our-product/roasted@1x.jpg" alt="Dark chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">Roasted fruits</h3>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button type="button" class="card-btn">66 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="product-card">
                        <img srcset="/img/our-product/classicwhite@1x.jpg 1x , /img/our-product/classicwhite@2x.jpg 2x"
                            src="/img/our-product/classicwhite@1x.jpg" alt="White chocolate" width="230">
                        <div class="card-txt">
                            <h3 class="card-txt-name">Classic</h3>
                            <p class="card-txt-lineup">White chocolate</p>
                            <button type="button" class="card-btn">54 UAH</button>
                        </div>
                    </div>
                </li>

            </ul>

            <!-- If we need pagination -->
            <div class="swiper-pagination-our-product"></div>

        </div>
    </div>
</section>