<!-- Subscribe-modal -->
<div class="backdrop" data-modal>
<div class="modal">
    
    <button type="button" class="modal-close-btn" data-modal-close >
        <svg         class="modal-close-btn-icon" width="24" height="24">
            <use href="../img/icons.svg#close-white"></use>
        </svg>
    </button>
    <div class="modal-backgraund-wrapper">
        <picture>
            <source 
            srcset="./img/subscribe-modal-mob@1x.jpg, ./img/subscribe-modal-mob@2x.jpg"
            media="min-width: 320px"
            />
            <source 
            srcset="./img/subscribe-modal-tab@1x.jpg, ./img/subscribe-modal-tab@2x.jpg"
            media="min-width: 768px"
            />
            <source 
            srcset="./img/subscribe-modal-desc@1x.jpg, ./img/subscribe-modal-desc@2x.jpg"
            media="min-width: 1200px"
            />
    <img  class="modal-backgraund-img"    
  
    src="../img/subscribe-modal/modal-sub_mob@1.jpg"
    sizes="(min-width: 768px) 538px, (min-width: 375px) 311px, 100vw"
     alt=""
     >
     </picture>
</div>
    <p class="modal-subscribe-text">Explore our<br><span class="modal-subscribe-text-part">new chocolate</span>
 first!</p>
 <div class="modal-email-btn">
<form class="modal-form">
    <label class="modal-form-field">
    <input type="email" name="user_email" class="modal-form-input" placeholder="Enter your email" pattern="^[a-zA-Z1-9]">
</label>
<button type="submit" class="modal-submit-btn">Submit</button>
</form>
</div>

</div>
</div>