<!-- Subscribe-modal -->
<div class="backdrop-subscribe is-hidden" data-modal>
    <div class="modal-sumscribe">
        <form class="form">
        <button class="subscribe-modal-button" type="button" data-modal-close>
            <svg class="subscribe-modal-icon" width="24" height="24">
            <use href="../img/icons.svg#close-white"></use>
            </svg>
        </button>
        <p class="subscribe-form-text">Explore our <span class="subscribe-form-text-accent">new chocolate</span> first!</p>
        <div class="form-field">
            <input type="email" class="form-input" name="email" id="email" />
            <button class="form-button" type="submit">Send</button>
        </div>
        </form> 
    </div>
</div>