<!-- Top sellers -->

<section class="top-sellers-section section">
  <div class="container top-sellers-container">
    <h2 id="Top_sellers" class="top-sellers-title section-title">
      <span class="top-title-color">tOp</span> Sellers
    </h2>
    <ul class="list top-sellers-list">
      <li class="top-item-1">
        <img
          class="top-img-1 top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-1_335.jpg 335w,
            /img/section-top-sellers/img-1_344.jpg 344w,
            /img/section-top-sellers/img-1_368.jpg 368w,
            /img/section-top-sellers/img-1_670.jpg 670w,
            /img/section-top-sellers/img-1_688.jpg 688w,
            /img/section-top-sellers/img-1_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-1_335.jpg"
          alt="Chocolate with coffee and nuts"
        />
        <p class="top-item-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li>
        <img
          class="top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-2_335.jpg 335w,
            /img/section-top-sellers/img-2_344.jpg 344w,
            /img/section-top-sellers/img-2_368.jpg 368w,
            /img/section-top-sellers/img-2_670.jpg 670w,
            /img/section-top-sellers/img-2_688.jpg 688w,
            /img/section-top-sellers/img-2_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px,
          (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-2_335.jpg"
          alt="Chocolate with raisins and nuts"
        />
      </li>
      <li class="top-item-3">
        <img
          class="top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-3_368.jpg 368w,
            /img/section-top-sellers/img-3_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px,
          (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-3_368.jpg"
          alt="Chocolate"
        />
      </li>
    </ul>
    <div class="top-text-btn">
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        type="button"
        class="top-sellers-btn buy-now-open"
        top-seller-modal-open
      >
        Buy now
      </button>
    </div>
  </div>
</section>

<div class="hero-backdrop is-hidden" top-seller-modal>
  <div class="hero-modal">
    <button
      type="button"
      class="hero-modal-close-btn hero-flex"
      top-seller-modal-close
    >
      <svg class="hero-modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#close-dark"></use>
      </svg>
    </button>
    <strong class="hero-order-title"
      ><span class="hero-buy-title">bUY </span>nOW</strong
    >
    <!-- HERO MODAL BLOCKS -->
    <ul class="hero-modal-list hero-flex">
      <li class="hero-modal-item hero-flex">
        <img
          class="hero-modal-img"
          srcset="
            ./img/section-hero/optimized/img-1-84.jpg   84w,
            ./img/section-hero/optimized/img-1-120.jpg 120w,
            ./img/section-hero/optimized/img-1-168.jpg 168w,
            ./img/section-hero/optimized/img-1-240.jpg 240w
          "
          sizes="(min-width: 1200px) 120px, (min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          src="./img/section-hero/optimized/img-1-84.jpg"
          alt="Sliced chocolate"
          width="84"
          height="69"
          loading="lazy"
        />
        <button class="hero-order-button" type="button">100 g</button>
      </li>
      <li class="hero-modal-item hero-flex">
        <img
          class="hero-modal-img"
          srcset="
            ./img/section-hero/optimized/img-2-84.jpg   84w,
            ./img/section-hero/optimized/img-2-120.jpg 120w,
            ./img/section-hero/optimized/img-2-168.jpg 168w,
            ./img/section-hero/optimized/img-2-240.jpg 240w
          "
          sizes="(min-width: 1200px) 120px, (min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          src="./img/section-hero/optimized/img-2-84.jpg"
          alt="Different chocolate"
          width="84"
          height="69"
          loading="lazy"
        />
        <button class="hero-order-button" type="button">200 g</button>
      </li>
      <li class="hero-modal-item hero-flex">
        <img
          class="hero-modal-img"
          srcset="
            ./img/section-hero/optimized/img-3-84.jpg   84w,
            ./img/section-hero/optimized/img-3-120.jpg 120w,
            ./img/section-hero/optimized/img-3-168.jpg 168w,
            ./img/section-hero/optimized/img-3-240.jpg 240w
          "
          sizes="(min-width: 1200px) 120px, (min-width: 768px) 120px, (min-width: 375px) 84px, 100vw"
          src="./img/section-hero/optimized/img-3-84.jpg"
          alt="Chocolate bars"
          width="84"
          height="69"
          loading="lazy"
        />
        <button class="hero-order-button" type="button">300 g</button>
      </li>
    </ul>
    <!-- HERO MODAL FORM -->
    <form class="hero-modal-form hero-flex" name="modal-form" autocomplete="on">
      <label class="hero-modal-label" for="modal_name"
        >Personal information</label
      >
      <div class="hero-modal-input-wrapper hero-modal-name-wrapper hero-flex">
        <input
          class="hero-modal-input hero-modal-name-input"
          type="text"
          name="modal_name"
          id="modal_name"
          placeholder="Name"
          required
        />
        <input
          class="hero-modal-input hero-modal-name-input"
          type="text"
          name="modal_surname"
          id="modal_surname"
          placeholder="Surname"
          required
        />
      </div>
      <label class="hero-modal-label" for="modal_email">Email</label>
      <input
        class="hero-modal-input hero-modal-input-email"
        type="email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        name="modal_email"
        id="modal_email"
        placeholder="Enter your email"
        required
      />
      <label class="hero-modal-label" for="modal_phone">Phone number</label>
      <div class="hero-modal-input-wrapper hero-phone-wrapper hero-flex">
        <div class="hero-modal-number-wrapper hero-flex">
          <svg class="hero-modal-number-icon" width="24" height="24">
            <use href="./img/icons.svg#flag"></use>
          </svg>
          <input
            class="hero-modal-outer-text top-sellers-modal-outer-text"
            id="outer_top_sellers"
            placeholder="+380"
          />
        </div>
        <input
          class="hero-modal-input hero-modal-right-input"
          type="tel"
          name="modal_phone"
          id="modal_phone"
          placeholder="Phone number"
          required
        />
      </div>
      <label class="hero-modal-label" for="modal_card">Card number</label>
      <div class="hero-modal-input-wrapper hero-card-wrapper hero-flex">
        <input
          class="hero-modal-input hero-modal-card-input"
          type="text"
          name="modal_card"
          id="modal_card"
          placeholder="Enter card"
          required
        />
        <div class="hero-modal-card-wrapper">
          <svg class="hero-modal-card-icon" width="32" height="21">
            <use href="./img/icons.svg#master-card"></use>
          </svg>
        </div>
      </div>
      <label class="hero-modal-label" for="modal_comment">Comment</label>
      <textarea
        class="hero-modal-textarea"
        name="modal_comment"
        id="modal_comment"
        rows="5"
        placeholder="Enter text"
      ></textarea>
      <button class="hero-modal-button hero-button" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
