<!-- Top sellers -->

<section class="top-sellers-section section">
  <div class="container top-sellers-container">
    <h2 id="Top_sellers" class="top-sellers-title section-title">
      <span class="top-title-color">tOp</span> Sellers
    </h2>
    <ul class="list top-sellers-list">
      <li class="top-item-1">
        <img
          class="top-img-1 top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-1_335.jpg 335w,
            /img/section-top-sellers/img-1_344.jpg 344w,
            /img/section-top-sellers/img-1_368.jpg 368w,
            /img/section-top-sellers/img-1_670.jpg 670w,
            /img/section-top-sellers/img-1_688.jpg 688w,
            /img/section-top-sellers/img-1_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-1_335.jpg"
          alt="Chocolate with coffee and nuts"
        />
        <p class="top-item-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li>
        <img
          class="top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-2_335.jpg 335w,
            /img/section-top-sellers/img-2_344.jpg 344w,
            /img/section-top-sellers/img-2_368.jpg 368w,
            /img/section-top-sellers/img-2_670.jpg 670w,
            /img/section-top-sellers/img-2_688.jpg 688w,
            /img/section-top-sellers/img-2_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-2_335.jpg"
          alt="Chocolate with raisins and nuts"
        />
        <button
          type="button"
          class="top-sellers-btn top-item-btn"
          data-top-modal-open
        >
          Buy now
        </button>
      </li>
      <li class="top-item-3">
        <img
          class="top-img"
          loading="lazy"
          srcset="
            /img/section-top-sellers/img-3_368.jpg 368w,
            /img/section-top-sellers/img-3_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
          src="/img/section-top-sellers/img-3_368.jpg"
          alt="Chocolate"
        />
      </li>
    </ul>
    <div class="top-text-btn">
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="top-sellers-btn" data-top-modal-open>
        Buy now
      </button>
    </div>
  </div>
</section>
