<!--Section components-->
<section id="components" class="section-components section">
  <div class="container">
    <h2 class="section-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-accent-text">TASTE</span> SENSATION
    </h2>
    <p class="components-desc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-card-set list">
      <li class="components-item">
        <div class="components-thumb accent-bg">
          <div class="components-front">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-1-206.webp 1x,
                  /img/section-components/desktop/img-1-412.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-1-206.png 1x,
                  /img/section-components/desktop/img-1-412.png 2x
                "
                type="image/png"
              /> -->
              <!-- Tablet and mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-1-224.webp 1x,
                  /img/section-components/mobile-and-tablet/img-1-448.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-1-224.png 1x,
                  /img/section-components/mobile-and-tablet/img-1-448.png 2x
                "
                type="image/png"
              /> -->
              <img
                class="components-img"
                src="/img/section-components/mobile-and-tablet/img-1-224.webp"
                alt="milk-chocolate-bar"
                width="224"
                loading="lazy"
              />
            </picture>
            <p class="components-desc-wrap">Milk chocolate</p>
          </div>
          <div class="overlay-card">
            <h3 class="overlay-subtitle">Milk chocolate</h3>
            <ul class="composition-list">
              <li class="composition-item"><p>chocolate</p></li>
              <li class="composition-item"><p>the benefits</p></li>
            </ul>
            <p class="overlay-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="components-thumb">
          <div class="components-front">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-2-206.webp 1x,
                  /img/section-components/desktop/img-2-412.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-2-206.png 1x,
                  /img/section-components/desktop/img-2-412.png 2x
                "
                type="image/png"
              /> -->
              <!-- Tablet and mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-2-224.webp 1x,
                  /img/section-components/mobile-and-tablet/img-2-448.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-2-224.png 1x,
                  /img/section-components/mobile-and-tablet/img-2-448.png 2x
                "
                type="image/png"
              /> -->
              <img
                class="components-img"
                src="/img/section-components/mobile-and-tablet/img-2-224.webp"
                alt="bottle-of-milk"
                width="224"
                loading="lazy"
              />
            </picture>
            <p class="components-desc-wrap">Milk</p>
          </div>
          <div class="overlay-card">
            <h3 class="overlay-subtitle">Milk</h3>
            <ul class="composition-list">
              <li class="composition-item"><p>milk</p></li>
              <li class="composition-item"><p>the benefits</p></li>
            </ul>
            <p class="overlay-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="components-thumb black-bg">
          <div class="components-front">
            <picture>
              <!-- Desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-3-206.webp 1x,
                  /img/section-components/desktop/img-3-412.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-3-206.png 1x,
                  /img/section-components/desktop/img-3-412.png 2x
                "
                type="image/png"
              /> -->
              <!-- Tablet and mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-3-224.webp 1x,
                  /img/section-components/mobile-and-tablet/img-3-448.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-3-224.png 1x,
                  /img/section-components/mobile-and-tablet/img-3-448.png 2x
                "
                type="image/png"
              /> -->
              <img
                class="components-img"
                src="/img/section-components/mobile-and-tablet/img-3-224.webp"
                alt="hazelnut"
                width="224"
                loading="lazy"
              />
            </picture>
            <p class="components-desc-wrap">Nuts</p>
          </div>
          <div class="overlay-card">
            <h3 class="overlay-subtitle">Nuts</h3>
            <ul class="composition-list">
              <li class="composition-item"><p>nuts</p></li>
              <li class="composition-item"><p>the benefits</p></li>
            </ul>
            <p class="overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="components-thumb">
          <div class="components-front">
            <picture class="">
              <!-- Desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-4-206.webp 1x,
                  /img/section-components/desktop/img-4-412.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 1200px)"
                srcset="
                  /img/section-components/desktop/img-4-206.png 1x,
                  /img/section-components/desktop/img-4-412.png 2x
                "
                type="image/png"
              /> -->
              <!-- Tablet and mobile screen -->
              <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-4-224.webp 1x,
                  /img/section-components/mobile-and-tablet/img-4-448.webp 2x
                "
                type="image/webp"
              />
              <!-- <source
                media="(min-width: 375px)"
                srcset="
                  /img/section-components/mobile-and-tablet/img-4-224.png 1x,
                  /img/section-components/mobile-and-tablet/img-4-448.png 2x
                "
                type="image/png"
              /> -->
              <img
                class="components-img"
                src="/img/section-components/mobile-and-tablet/img-4-224.webp"
                alt="milk-chocolate-in-biscuits"
                width="224"
                loading="lazy"
              />
            </picture>
            <p class="components-desc-wrap">Semi-sweet chocolate</p>
          </div>
          <div class="overlay-card">
            <h3 class="overlay-subtitle">Semi-sweet chocolate</h3>
            <ul class="composition-list">
              <li class="composition-item"><p>sweet chocolate</p></li>
              <li class="composition-item"><p>the benefits</p></li>
            </ul>
            <p class="overlay-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
