/* ====== Mobile + tablet menu burger ======= */

@media only screen and (min-width: 320px) and (max-width: 1199px) {
    .site-nav {
        display: flex;
    }

    .mobile-burger-menu {
        margin-left: auto;
    }

    .menu-toggle-burger {
        margin-left: auto;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 0;

        width: 32px;
        height: 22px;
    }

    .menu-toggle-close {
        position: absolute;
        background-color: transparent;
        border-color: transparent;
        width: 32x;
        height: 32px;
        padding: 9px;
        top: 24px;
        right: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-media-list-mobile {
        display: flex;
        gap: 20px;
    }

    .mobile-menu-item:hover,
    .mobile-menu-item:focus {
        color: rgba(253, 146, 34, 1);
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100%;
        padding-top: 136px;
        padding-left: 32px;
        padding-bottom: 32px;
        padding-right: 50px;
        background: rgba(30, 24, 35, 1);

        z-index: 999;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }

    .menu-container.is-open {
        transform: translateX(0);
    }

    .mobile-menu {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: start;
        text-decoration: none;
        list-style-type: none;
        margin-bottom: auto;
        margin-left: 18px;
    }

    .mobile-menu-item {
        font-weight: 500;
        line-height: 1.14;
        color: var(--secondary-txt-cl);
        text-align: left;
    }

    .social-media-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
}

@media only screen and (min-width: 768px) {

    .mobile-menu {
        margin-left: 53px;
    }
}

.svg-header {
    fill: none;
    stroke: rgba(255, 255, 255, 1);
}

.svg-header:hover,
.svg-header:focus {
    stroke: rgba(253, 146, 34, 1);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
    color: rgba(253, 146, 34, 1);
}

@media only screen and (min-width: 768px) {
    .menu-container {
        padding-top: 156px;
        padding-left: 32px;
        padding-bottom: 24px;
        padding-right: 85px;
    }
}

/* =============HEADER-MAIN==================== */

@media screen and (min-width:320px) {
    .header {
        height: 70px;
        padding: 25px 0px 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-nav {
        display: none;
    }

    .header-social-media-list {
        display: none;
    }
}

.logo-accent {
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: var(----main-txt-cl);
    text-decoration: none;
}

.logo-header {
    margin-left: 4px;
}

.logo-main {
    font-weight: 700;
    letter-spacing: -0.03em;
    color: var(--main-txt-cl);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .header {
        height: 80px;
    }
}

@media screen and (min-width: 1200px) {

    .mobile-burger-menu {
        display: none;
    }

     .main-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .header {
        margin-right: auto;
    }

    .logo-header
    {
       width: 24px;
       height: 24px;
    }

    .logo-accent {
        font-size: 18px;
        line-height: 1.1;
    }

    .logo-main {
        font-size: 18px;
        line-height: 1.1;
    }


      .nav-item {
        font-weight: 500;
        line-height: 1.14;
        display: flex;
        align-items: center;
        color: var(--main-txt-cl);
    }

    .header-nav {
        display: flex;
        gap: 24px;
        margin-right: 137px;
    }


    .site-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(----dark-txt-cl);
        text-decoration: none;
        list-style: none;

        display: block;
    }

    .nav-item:hover,
    .nav-item:focus {
        color: rgba(253, 146, 34, 1);
    }

    .nav-item {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-social-media-list {
        display: flex;
        gap: 20px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header-social-media-link
{
width: 24px;
height: 24px;
}

.svg-header-black {
    fill: none;
    stroke: rgba(17, 17, 17, 1);
}

.svg-header-black:hover,
.svg-header-black:focus {
    stroke: rgba(253, 146, 34, 1);
}
