.product-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .product-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.product-selection {
  color: #fd9222;
}
.product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  max-width: 300px;
  height: 364px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  padding: 32px 52px;
}
@media only screen and (min-width: 768px) {
  .product-card {
    padding: 32px 20px;
  }
}

@media only screen and (min-width: 375px) {
  .product-card {
    max-width: 335px;
  }
}
.card-txt {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8px;
}
.card-txt-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #111111;

  margin-bottom: 2px;
}
.card-txt-lineup {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);

  margin-bottom: 18px;
}
.card-btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #111111;

  padding: 8px 20px;

  width: 94px;
  height: 33px;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.card-btn:hover ,
.card-btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--secondary-txt-cl);
}
.card-btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--secondary-txt-cl);
}

.swiper-pagination-our-product {
  text-align: center;
}
.swiper .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  margin: 0 6px;
}

.swiper .swiper-pagination-bullet-active {
  box-sizing: border-box;
  width: 28px;
  border-radius: 100px;
  background: #fd9222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.swiper-wrapper {
  margin-bottom: 20px;
}
