.reviews {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .reviews {
    margin-bottom: 49px;
  }
}

.title-chocolate {
  color: var(--accent-txt-cl);
}

.reviews-btn {
  min-width: 222px;
  height: 50px;
  border: 1px solid;
  border-color: var(--accent-txt-cl);

  font-weight: 600;
  font-size: 14px;

  display: block;
  margin: auto;
  margin-bottom: 72px;
  transform: background-color var(--cubic);
}

@media only screen and (min-width: 768px) {
  .reviews-btn {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .reviews-btn {
    font-size: 18px;
    margin-bottom: 128px;
  }
}

.reviews-btn:hover {
  background-color: var(--accent-txt-cl);
  color: var(--secondary-txt-cl);
}

.reviews-btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--secondary-txt-cl);
}

/**
  |============================
  | Sliders slyles
  |============================
*/

.slides-card {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  margin-bottom: 20px;

  position: relative;

  max-width: 360px;
  height: 200px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .slides-card {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 31px;
  }
}

@media only screen and (min-width: 1200px) {
  .slides-card {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 31px;
  }
}

.reviews-img {
  position: absolute;
  top: -42px;
  margin-bottom: 18px;
}

.reviews-names {
  margin-bottom: 24px;
}

.slides-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
  |============================
  |MY Swiper styles
  |============================
*/

.cards-pagination {
  display: block;
  margin: auto;
}

.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  box-sizing: border-box;
  width: 28px !important;
  height: 13px;
  border-radius: 100px;
  background: #fd9222;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
}

.cards-pagination {
  position: static;
  text-align: center;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .my-swiper-wrapper {
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .my-swiper-wrapper {
    gap: 28px;
  }
}
