.subscribe{
  background-image:url(../img/Subscribe/Subcribe-t.jpg);
  padding-top: 62px;
  padding-bottom: 62px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  }
  
  .subscribe-title
  {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
  
      width: 291px;
      height: 48px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 24px;
  }
  
  .subscribe-text
  {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.29;
      text-align: center;
      letter-spacing: -0.02em;
  
      color: #FFFFFF;
      width: 326px;
      
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 24px;
  }
  
  .subscribe-btn
  {   display: block;
      width: 128px;
      height: 41px;
      background-color: rgba(253, 146, 34, 1);
      margin-right: auto;
      margin-left: auto;
      border-radius: 100px;
      border-color: transparent;
      margin-right: auto;
      margin-left: auto;
  
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
      color: #FFFFFF;
  
  }
  
  @media only screen and (min-width: 768px) {
     
      .subscribe{
      padding-top:72px;
      padding-bottom:72px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
    .subscribe-title
    {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.17;
      width: 378px;
      height: 56px;
      
    }
  
    .subscribe-text {
        
        width: 467px;
  
    }
  
    .subscribe-btn {
      
        width: 172px;
        height: 50px;
        font-size: 18px;
        line-height: 1.2;
       
  
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .subscribe {
        background-image: url(../img/Subscribe/Subcribe-d.jpg);
        padding-top: 72px;
        padding-bottom: 72px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  
      .subscribe-title {
        font-size: 24px;
        width: 378px;
        height: 56px;
        margin-bottom: 24px;
      }
  
      .subscribe-text {
        width: 467px;
      }
  
      .subscribe-btn {
        width: 172px;
        height: 50px;
        font-size: 18px;
        line-height: 1.2;
      }
      @media only screen and (max-width: 320px) {
        .subscribe {
          background-image: url(../img/Subscribe/Subcribe.jpg);
          padding-top: 62px;
          padding-bottom: 62px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
        .subscribe-title {
          font-size: 20px;
          width: 291px;
          height: 48px;
          margin-bottom: 24px;
        }
      
        .subscribe-text {
          width: 326px;
        }
      
        .subscribe-btn {
            width: 128px
          }